* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header,
h1 {
  background-color: rgb(211, 195, 179);
  font-size: 150%;
  text-align: center;
  color: rgb(142, 6, 6);
}

nav {
  background-color: rgb(17, 84, 84);
  text-align: center;
  font-size: 150%;
}

a {
  color: rgb(218, 33, 33);
  text-decoration: none;
}

h2 {
  color: rgb(15, 15, 141);
  background-color: blanchedalmond;
  text-align: center;
}

li {
    list-style: none;
    text-align: center;
    line-height: 2.5 rem;
}

details {
  font-style: italic;
}
summary {
  font-style: normal;
}
footer {
  background-color: rgb(211, 195, 179);
}

progress {
  width: 100px;
  height: 20px;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
}
